{% extends "base.html" %}
{% block content %}
    <h1>Menus</h1>
    {% if table %}
        <table>
            <tr>
                <th>Date</th>
                <th>Options</th>
            </tr>
            {% for row in table %}
                <tr>
                    <td>{{ row.date }}</td>
                    <td>
                        <ul>
                            {% for combination in row.combinations %}
                                <li>{{ combination }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="/views/menu/{{ row.uuid }}/">View</a>
                    </td>
                    <td>
                        <button onclick="edit({{ row.id }})">Edit</button>
                    </td>
                    <td>
                        <button onclick="send_reminders({{ row.id }})">Remind</button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No data available</p>
    {% endif %}
    <div id="create_menu">
        <h1>Create new menu</h1>
        <div class="row">
            <div class="col-6">
                <form action="javascript:request('/restaurant/menu/')" method="post">
                    {% for field in fields %}
                        <label for="{{ field.id }}">{{ field.label }}</label><br>
                        {% if field.options %}
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn">Search</button>
                                <div id="search_list" class="dropdown-content">
                                    <input type="text" placeholder="Search.." id="search_text"
                                           onkeyup="filterFunction()">
                                    {% for combination in combinations %}
                                        <label class="switch">
                                            {{ combination.description }}
                                            <input class="select_combination_input" type="checkbox"
                                                   id="{{ combination.id }}">
                                            <span class="slider round"></span>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <input type="{{ field.type }}" id="{{ field.id }}" name="{{ field.id }}"><br>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" value="Create"></form>
            </div>
        </div>
    </div>
    <div id="edit_menu" class="hidden">
        <h1>Edit Menu</h1>
        <div class="row">
            <div class="col-6">
                <form action="javascript:request('/restaurant/menu/', method='PUT')" method="put">
                    {% for field in fields %}
                        <label for="{{ field.id }}">{{ field.label }}</label><br>
                        {% if field.options %}
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn">Search</button>
                                <div id="search_list" class="dropdown-content">
                                    <input type="text" placeholder="Search.." id="search_text"
                                           onkeyup="filterFunction()">
                                    {% for combination in combinations %}
                                        <label class="switch">
                                            {{ combination.description }}
                                            <input class="select_combination_input" type="checkbox"
                                                   id="{{ combination.id }}">
                                            <span class="slider round"></span>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <input type="{{ field.type }}" id="{{ field.id }}_edit" name="{{ field.id }}"><br>
                        {% endif %}
                    {% endfor %}
                    <input type="button" value="Cancel" onclick="cancel()">
                    <input type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
    <script>
        var editing = undefined;

        function myFunction() {
            document.getElementById("search_list").classList.toggle("show");
        }

        function filterFunction() {
            var input, filter, a, i;
            input = document.getElementById("search_text");
            filter = input.value.toUpperCase();
            div = document.getElementById("search_list");
            a = div.getElementsByTagName("label");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    a[i].className = "";
                } else {
                    a[i].className = "hidden";
                }
            }
        }

        function edit(id) {
            document.getElementById('create_menu').className = 'hidden';
            document.getElementById('edit_menu').className = '';
            editing =
            {{ table|safe }}.
            filter((t) => t.id == id)[0];
            document.getElementById('date_edit').value = editing.date;
        }

        function cancel() {
            document.getElementById('create_menu').className = '';
            document.getElementById('edit_menu').className = 'hidden';
        }

    </script>
{% endblock content %}